body {
  margin: 0;
  font-family: Arial;
  background: #dcdcdc;
}

.container {
  max-width: 320px;
  margin: 100px auto;
  text-align: center;
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}

h2 {
  color: #f5b800;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background: #eee;
}

input::placeholder {
  color: #f5b800;
}

.btn {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  background: #f5b800;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.gris {
  background: gray;
}

.link {
  margin-top: 15px;
  font-size: 12px;
}